name: Build and Test React Application

# Controls when the action will run. 
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm ci and test
        run: |
          npm ci
          npm run build --if-present
          npm test

      # ⬇️ Upload coverage reports to Codecov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      # ⬇️ Generate JSDoc
      - name: Generate JSDoc
        run: npm run jsdoc

      # ⬇️ Setup GitHub Pages
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3

      # ⬇️ Upload React build artifact
      - name: Upload React build artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build

      # ⬇️ Upload JSDoc artifact
      - name: Upload JSDoc artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

  deploy:
    needs: build_test
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4
