name: Build, Test and Deploy React + JSDoc

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install
        run: npm install

      - name: npm run build and test
        run: |
          npm run build --if-present
          npm test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Generate JSDoc
        run: npm run jsdoc

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3

      # Upload React build artifact
      - name: Upload React build artifact
        uses: actions/upload-artifact@v3
        with:
          name: react-build
          path: build

      # Upload JSDoc artifact
      - name: Upload JSDoc artifact
        uses: actions/upload-artifact@v3
        with:
          name: jsdoc
          path: docs

  deploy:
    needs: build_test
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      # Download React build artifact
      - name: Download React build artifact
        uses: actions/download-artifact@v3
        with:
          name: react-build
          path: build

      # Download JSDoc artifact
      - name: Download JSDoc artifact
        uses: actions/download-artifact@v3
        with:
          name: jsdoc
          path: docs

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4