deploy:
  needs: build_test
  permissions:
    pages: write
    id-token: write
  runs-on: ubuntu-latest
  environment:
    name: github-pages
    url: ${{ steps.deployment.outputs.page_url }}
  steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Télécharge le build React
    - name: Download React build artifact
      uses: actions/download-pages-artifact@v1
      with:
        name: react-build

    # Télécharge la doc JSDoc
    - name: Download JSDoc artifact
      uses: actions/download-pages-artifact@v1
      with:
        name: jsdoc

    # Crée un dossier unique pour GitHub Pages
    - name: Prepare GitHub Pages directory
      run: |
        mkdir gh-pages
        cp -r react-build/* gh-pages/
        cp -r jsdoc/* gh-pages/

    # Déploiement
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
      with:
        # On déploie depuis le dossier qui contient à la fois build et doc
        path: gh-pages